/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 10px;
}

.pagination button {
  padding: 8px 16px;
  background-color: #7c9ed2;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .pagination {
    flex-direction: column;
    gap: 6px;
  }

  .pagination span {
    font-size: 13px;
  }

  .pagination button {
    font-size: 13px;
    padding: 6px 12px;
  }
}
